SCORPIO_ROOT=path-to/scorpio-backend
SCORPIO_VENV=path-to/scorpio-backend/.venv
SCORPIO_SCRIPT=path-to/src/scripts/upsert_satellites.py

# User 
USER=pedropablozavalat

# Account for automation to upsert satellites in the database. This account should be an admin
SCORPIO_API_URL=api-url
SCORPIO_AUTOMATION_EMAIL=automation-email
SCORPIO_AUTOMATION_PASSWORD=automation-password

# Triggers for reach service
# Upsert satellites job trigger time in 00:00 UTC. 
UPSERT_SATELLITES_TRIGGER_TIME=00:00:00


# Optional
# Run the job on start, useful for testing. If set to false, the job will only run on schedule.
RUN_ON_START=true