SCORPIO_ROOT=path-to/scorpio-backend
SCORPIO_VENV=path-to/scorpio-backend/.venv
SCORPIO_SCRIPT=path-to/src/scripts/upsert_satellites.py
# Account for automation to upsert satellites in the database. This account should be an admin
SCORPIO_API_URL=api-url
SCORPIO_AUTOMATION_EMAIL=automation-email
SCORPIO_AUTOMATION_PASSWORD=automation-password