[Unit]
Description=Automation for upserting satellites in the databases. This job is executed every day and the information is retrieved from the Celestrack API. 
Wants=network-online.target
After=network-online.target

[Timer]
# Run the job every day at 00:00 UTC
OnCalendar=*-*-* 00:00:00 UTC
Persistent=true
Unit=scorpio-upsert-satellites.service



[Service]
Type=oneshot
Restart=always
RestartSec=5
User=${USER}
# Relative path to the root of the project
EnvironmentFile=${SCORPIO_ROOT}/jobs/jobs.env
WorkingDirectory=${SCORPIO_ROOT}
# Logs 
StandardOutput=${SCORPIO_ROOT}/logs/upsert_satellites.log
StandardError=${SCORPIO_ROOT}/logs/upsert_satellites.log
# Script to execute
ExecStart=/usr/bin/flock -n /run/lock/scorpio-upsert-satellites.lock ${SCORPIO_ROOT}/.venv/bin/python ${SCORPIO_SCRIPT}

KillSignal=SIGINT
